@charset "UTF-8";
/*
 * jQuery File Upload Plugin CSS Example
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

body {
  padding-top: 60px;
}


/*
CUSTOM
 */

.progress-bar-green {
  background-color: #abe12e !important;
}
.progress-bar-grey {
  background-color: #607183 !important;
}

.agi-file-inprogres .panel-default {
  background: #f5f7f7;
}

.agi-file-uploaded .panel-default {
  background: #607183;
}

.agi-file-uploaded .panel-body {
  color: white;
}

.panel-body  {
  padding: 10px;
  word-break:break-all
}

.agi-file-inprogres .progress, .agi-file-uploaded .progress {
  height: 5px;
  margin-bottom: 25px;
}

.btn-grey {
  background-color: #f5f7f7;
  border-color: #c2c3c3;
  color: #607183;
}

.agi-file {
  height: 150px;
}

.agi-file .panel {
  border-radius: 5px;
  height: 125px;
  width: 125px;
}

