<!DOCTYPE HTML>
<!--
/*
 * jQuery File Upload Plugin Demo
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2010, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */
-->
<html lang="en">
<head>
    <!-- Force latest IE rendering engine or ChromeFrame if installed -->
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <meta charset="utf-8">
    <title>jQuery File Upload Demo</title>
    <meta name="description" content="File Upload widget with multiple file selection, drag&amp;drop support, progress bars, validation and preview images, audio and video for jQuery. Supports cross-domain, chunked and resumable file uploads and client-side image resizing. Works with any server-side platform (PHP, Python, Ruby on Rails, Java, Node.js, Go etc.) that supports standard HTML form file uploads.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Generic page styles -->
    <link rel="stylesheet" href="css/style.css">

    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="css/jquery.fileupload.css">
    <link rel="stylesheet" href="css/jquery.fileupload-ui.css">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel="stylesheet" href="css/jquery.fileupload-noscript.css"></noscript>
    <noscript><link rel="stylesheet" href="css/jquery.fileupload-ui-noscript.css"></noscript>
</head>
<body>

<div class="container">


    <form method="POST" action="https://portal.ag.voliasoftware.com/api/send-file">
        <input type="hidden" name="fname" value="testUpload">
        <input type="hidden" name="lname" value="testUpload">
        <input type="hidden" name="phone" value="12312313">
        <input type="hidden" name="centerID" value="25066">
        <input type="hidden" name="emailAddress" value="adsadasd@eae.com">
        <input type="hidden" name="emailAddressConfirm" value="adsadasd@eae.com">
        <input type="hidden" name="quantity" value="2">
        <input type="hidden" name="endDate" value="05/05/2017">
        <input type="hidden" name="jobID" value="2060498">

        <button type="submit" value="OK">OK</button>
    </form>

    <form id="fileupload" action="https://fxtransport.alphagraphics.com/upload.php" method="POST" enctype="multipart/form-data">
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>

        <!--random md5 -->
        <input id="SESSID" type="hidden" name="SESSID" value="1i7vfbrtm6c584oouvq12akhr0">

        <!--Increment with each uploaded file-->
        <input id="ses_prog" type="hidden" name="PHP_SESSION_UPLOAD_PROGRESS" value="0">

            <input id="job_id" type="hidden" name="job_id" value="2060498">

        <div role="presentation">
            <div class="row">
                <div class="col-md-6">

                    <div class="row fileupload-buttonbar">
                        <span class="btn btn-grey fileinput-button">
                            <span>CHOOSE FILES</span>
                            <input type="file" name="myfile[]" multiple>
                        </span>
                        <button type="submit" class="btn btn-primary start">
                            <span>Start upload</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-6 files"></div>
            </div>
        </div>
    </form>
</div>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="col-sm-3 col-xs-6 template-upload agi-file agi-file-inprogres fade">
        <div class="panel panel-default inprogress">
          <div class="panel-body text-center">
            <div class="progress active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-grey" style="width:0%;"></div></div>
            <div>{%=file.name%}</div>
          </div>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled style="display:none">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
        </div>
    </div>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="col-sm-3 col-xs-6 template-download agi-file agi-file-uploaded fade">
        <div class="panel panel-default finished">
          <div class="panel-body text-center">
            <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="99"><div class="progress-bar progress-bar-green" style="width:100%;"></div></div>
            <div>{%=file.name%}</div>
            {% if (file.error) { %}
                <!--Error is hidden because currently we have always errors - response from the server is not valid for this plugin-->
                <!--For full support we need to make extra requests (check js file) to get file id and then form valid json-->
                <div><span class="label label-danger" style="display:none">Error</span> {%=file.error%}</div>
            {% } %}
          </div>
        </div>
    </div>
{% } %}
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="js/vendor/jquery.ui.widget.js"></script>

<!-- The Templates plugin is included to render the upload/download listings -->
<script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
<script src="js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="js/jquery.fileupload-process.js"></script>
<!-- The File Upload validation plugin -->
<script src="js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="js/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
<script src="js/main.js"></script>
<![endif]-->
</body>
</html>